In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

# Task 1: Extract data

In [6]:
marker = ['MSFT', 'AAPL', 'NVDA', 'AMZN', 'GOOG', 'META', 'TSLA']

hist_price = pd.DataFrame()

for i in marker:
    stock = yf.Ticker(i)
    hist = stock.history(start="2013-01-01", end="2023-12-31")
    hist_price[i] = hist['Close']

/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
/opt/homebrew/lib/python3.11/site-packages/yfinance/utils.py:781: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')

In [7]:
hist_price

,MSFT,AAPL,NVDA,AMZN,GOOG,META,TSLA
Date,,,,,,,
2013-01-02 00:00:00-05:00,22.492281,16.725040,0.293560,12.865500,NaN,27.942579,2.357333
2013-01-03 00:00:00-05:00,22.190973,16.513933,0.293791,12.924000,NaN,27.713053,2.318000
2013-01-04 00:00:00-05:00,21.775648,16.053942,0.303484,12.957500,NaN,28.701021,2.293333
2013-01-07 00:00:00-05:00,21.734936,15.959506,0.294714,13.423000,NaN,29.359669,2.289333
2013-01-08 00:00:00-05:00,21.620932,16.002464,0.288252,13.319000,NaN,29.000406,2.245333
...,...,...,...,...,...,...,...
2023-12-22 00:00:00-05:00,373.215393,193.091385,48.823704,153.419998,142.557770,352.665314,252.539993
2023-12-26 00:00:00-05:00,373.295135,192.542831,49.272640,153.410004,142.657669,354.102325,256.609985
2023-12-27 00:00:00-05:00,372.707275,192.642548,49.410622,153.339996,141.279236,357.096191,261.440002
2023-12-28 00:00:00-05:00,373.912842,193.071426,49.515610,153.380005,141.119415,357.585205,253.179993
2023-12-29 00:00:00-05:00,374.670074,192.024185,49.515610,151.940002,140.769806,353.234131,248.479996

# Task 2: Double Bollinger Band